<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" xdt:Transform="Replace">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSqlAzure2008Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
      <property name="connection.connection_string_name">DefaultConnection</property>
      <property name="connection.release_mode">on_close</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=w9sg4rekg0.database.windows.net;Initial Catalog=NHIdentity;Integrated Security=False;User ID=devexpert;Password=P@ssw0rd;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
